<div class="shade">
  <div class="shade__inner">
    <div class="cart-add">
      <button class="js-cart-add-close cart-add__close" type="button" title="Закрыть"><svg><use xlink:href="#close"></use></svg></button>
      <div class="cart-add__image"><img src="images/content/catalog-section/small_img.jpg" alt="Название для примера в две длинные строки"></div>
      <div class="cart-add__info">
        <p class="cart-add__title">Название для примера в две длинные строки</p>
        <p class="cart-add__note">Добавлен в корзину!</p>
      </div>
    </div>
  </div>
</div>
