<header class="header">
  <div class="header__top container">
    <ul class="service-menu">
      <li class="service-menu__item"><a class="service-menu__link" href="#">О компании</a></li>
      <li class="service-menu__item"><a class="service-menu__link" href="#">Клиентам</a></li>
      <li class="service-menu__item"><a class="service-menu__link" href="#">Доставка и оплата</a></li>
      <li class="service-menu__item"><a class="service-menu__link" href="#">Новости</a></li>
      <li class="service-menu__item"><a class="service-menu__link" href="#">Акции</a></li>
      <li class="service-menu__item"><a class="service-menu__link" href="#">Контакты</a></li>
    </ul>
    <div class="header__top-right">
      <label class="header__currency">
        <select>
          <option value="ru">RUB</option>
          <option value="usd">USD</option>
          <option value="eur">EUR</option>
        </select>
      </label>
      <div class="header__lang-block">
        <a class="header__lang is-active" href="#">Ru</a>
        <a class="header__lang" href="#">En</a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-inner container">
      <a class="header__logo" href="main.html"><img width="209" height="47" src="images/logo.svg" alt="STANCE"></a>
      <div class="header__mobile-links">
        <a class="header__cart" href="#" title="Коризна"><span class="header__cart-qnt-container"><svg><use xlink:href="#cart"></use></svg> <span class="header__cart-qnt">1</span></span></a>
        <a class="header__favorite" href="#" title="Избранное"><svg><use xlink:href="#favorite"></use></svg></a>
      </div>
      <div class="header__menu-block">
        <button class="js-menu-toggler header__menu-toggler" type="button"><svg><use xlink:href="#burger"></use></svg> <span>Каталог товаров</span></button>
        <div class="header__menu-dropdown">
          <div class="header__menu-dropdown-inner">
            <nav class="menu-columns">
              <div class="menu-columns__column">
                <ul class="menu">
                  <li class="menu__title"><a href="#">Носки</a></li>
                  <li class="menu__item"><a href="#"><b>Женские</b></a></li>
                  <li class="menu__item"><a href="#"><b>Мужские</b></a></li>
                  <li class="menu__item"><a href="#"><b>Детские</b></a></li>
                  <li class="menu__item"><a href="#"><b>Унисекс</b></a></li>
                  <li class="menu__item"><a href="#"><b>Новинки</b></a></li>
                  <li class="menu__item"><a href="#"><b>Спорт</b></a></li>
                  <li class="menu__item"><a href="#"><b>Коллекционные</b></a></li>
                </ul>
                <ul class="menu menu--no_desktop">
                  <li class="menu__title"><span>Меню</span></li>
                  <li class="menu__item"><a href="#">О компании</a></li>
                  <li class="menu__item"><a href="#">Клиентам</a></li>
                  <li class="menu__item"><a href="#">Доставка и оплата</a></li>
                  <li class="menu__item"><a href="#">Новости</a></li>
                  <li class="menu__item"><a href="#">Акции</a></li>
                  <li class="menu__item"><a href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="menu-column">
                <ul class="menu">
                  <li class="menu__title"><a href="#">Наборы</a></li>
                  <li class="menu__item"><a href="#">Спорт шик</a></li>
                  <li class="menu__item"><a href="#">Весна 2021</a></li>
                  <li class="menu__item"><a href="#">Весна 2021</a></li>
                  <li class="menu__item"><a class="menu__link-all" href="#">Смотреть все</a></li>
                </ul>
                <ul class="menu">
                  <li class="menu__title"><a href="#">Акции</a></li>
                </ul>
                <ul class="menu menu--no_desktop">
                  <li class="menu__title"><span>Аккаунт</span></li>
                  <li class="menu__item"><a href="#">Вход</a></li>
                  <li class="menu__item"><a href="#">Корзина</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="header__search">
        <form class="header__search-form" action="search.html">
          <input class="header__search-input" name="q" type="text" value="" placeholder="Я ищу....">
          <button class="header__search-submit" type="submit"><svg><use xlink:href="#search"></use></svg> <span>Найти</span></button>
        </form>
      </div>

      <div class="header__bottom-right">
        <a class="header__cart" href="#" title="Коризна"><span class="header__cart-text">Корзина</span> <span class="header__cart-qnt-container"><svg><use xlink:href="#cart"></use></svg> <span class="header__cart-qnt">1</span></span></a>
        <span class="header__bottom-right-separator"></span>
        <a class="header__enter" href="#" title="Личный кабинет">Вход <svg><use xlink:href="#personal"></use></svg></a>
      </div>
    </div>
  </div>
</header>
