.order-make
  @media(min-width: 1024px)
    display: flex
    margin-left: -16px
    margin-right: -16px

  &__left
    margin-bottom: 56px

    @media(min-width: 1024px)
      margin-bottom: 0
      padding-left: 16px
      padding-right: 16px
      width: 50%

    @media(min-width: 1200px)
      width: 66.66666%

    .button
      border-radius: 0

  &__section
    &:not(:last-child)
      margin-bottom: 56px

  &__title
    align-items: center
    display: flex
    font-size: 18px
    font-weight: 600
    line-height: 1.33333
    margin-bottom: 24px

    @media(min-width: 1200px)
      font-size: 24px
      line-height: 1.42857

    @media(min-width: 1900px)
      font-size: 28px
      margin-bottom: 32px

    img
      margin-right: 6px
      width: 20px

      @media(min-width: 1200px)
        width: 23px

      @media(min-width: 1900px)
        width: 27px

  &__note
    font-size: 12px
    line-height: 1.42857
    margin-top: -8px

    @media(min-width: 1024px)
      font-size: 14px

  &__radios
    display: flex
    flex-wrap: wrap
    margin-left: -10px
    margin-right: -10px

  &__radios-block
    display: flex
    flex-direction: column
    padding-left: 10px
    padding-right: 10px
    width: 50%

  &__radios-label
    display: block
    height: 100%
    position: relative

    input[type="radio"]
      position: absolute
      height: 1px
      overflow: hidden
      clip: rect(0 0 0 0)
      width: 1px

      &:checked + .order-make__radios-label-inner
        border-color: $text_color

        .order-make__radios-title
          .order-make__radios-icon
            &::before
              background-color: $color_blue
              border-radius: 50%
              content: ''
              height: 10px
              left: 50%
              position: absolute
              top: 50%
              transform: translate(-50%, -50%)
              width: 10px

  &__radios-label-inner
    background-color: $lightgrey_color
    border: 1px solid $grey_color
    cursor: pointer
    display: block
    font-size: 14px
    height: 100%
    line-height: 1.5
    transition: border-color 0.3s
    padding: 16px

  &__radios-title
    display: block
    font-weight: 600
    margin-bottom: 8px
    position: relative
    padding-left: 24px

  &__radios-icon
    border: 1px solid $grey_color
    background-color: #fff
    border-radius: 50%
    cursor: pointer
    height: 16px
    left: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition: border-color 0.3s
    width: 16px

  &__radios-text
    display: block
    font-size: 12px
    padding-left: 24px

  &__form-block
    max-width: 448px

  &__row
    @media(min-width: 1200px)
      display: flex
      margin-left: -16px
      margin-right: -16px

  &__row-cell
    @media(min-width: 1200px)
      padding-left: 16px
      padding-right: 16px
      width: 50%

  &__right
    @media(min-width: 1024px)
      padding-left: 16px
      padding-right: 16px
      width: 50%

    @media(min-width: 1200px)
      width: 33.33333%

  &__result-block
    @media(min-width: 1024px)
      border: 1px solid $grey_color
      padding: 32px 24px 24px

    @media(min-width: 1900px)
      font-size: 16px

    .button
      border-radius: 0
      width: 100%

  &__coupon-block
    border-bottom: 1px solid $grey_color
    margin-bottom: 16px
    padding-bottom: 24px

  &__coupon-title
    font-weight: 600
    margin-bottom: 12px

    @media(min-width: 768px) and (max-width: 1199px)
      margin-bottom: 20px

  &__coupon-form
    display: flex

    .input
      font-size: 14px
      height: 40px
      line-height: 24px
      padding: 8px 16px

    .button
      border-radius: 0
      font-size: 14px
      height: 40px
      width: 140px

  &__details
    border-bottom: 1px solid $grey_color
    margin-bottom: 16px
    padding-bottom: 24px

  &__detail,
  &__cost
    align-items: center
    display: flex
    justify-content: space-between

  &__detail
    line-height: 1.2

    b
      font-size: 18px

    &:not(:last-child)
      margin-bottom: 8px

  &__cost
    b
      font-size: 24px

.order-purchase
  align-items: center
  border-top: 1px solid #f0f0f0
  border-bottom: 1px solid #f0f0f0
  display: flex
  font-size: 14px
  flex-wrap: wrap
  margin-left: -16px
  margin-right: -16px
  padding-top: 24px
  padding-bottom: 14px
  padding-left: 16px
  padding-right: 16px

  @media(min-width: 768px)
    align-items: flex-start
    justify-content: space-between

  @media(min-width: 1024px)
    align-items: flex-start
    border: 1px solid #f0f0f0

    margin-left: 0
    margin-right: 0
    padding: 16px

  &:not(:last-child)
    margin-bottom: 24px

    @media(min-width: 1900px)
      margin-bottom: 32px

  &__info-block
    display: flex
    margin-bottom: 16px
    order: 1
    width: 100%

    @media(min-width: 768px) and (max-width: 1023px)
      margin-bottom: 0
      width: 42.61363%

    @media(min-width: 1200px)
      margin-bottom: 0
      width: 42.61363%

  &__image
    min-width: 97px
    width: 97px

  &__info
    padding-left: 16px

    @media(min-width: 768px)
      margin-bottom: 0

  &__title
    font-weight: 600
    line-height: 1.25
    margin-bottom: 8px

  &__prop
    font-size: 12px
    line-height: 1.14285

    &:not(:last-child)
      margin-bottom: 8px

  &__color
    border: 1px solid $grey_color
    display: inline-block
    height: 16px
    margin-left: 4px
    padding: 2px
    vertical-align: middle
    width: 16px

  &__qnt
    font-weight: 600
    line-height: 1.25
    margin-right: 20px
    margin-bottom: 20px
    order: 2

    @media(min-width: 768px)
      margin-bottom: 0
      margin-right: 0
      order: 3
      padding-left: 16px
      width: 80px

  &__price,
  &__cost
    font-weight: 600
    line-height: 1.25
    white-space: nowrap

    span
      font-weight: 400
      font-size: 12px

  &__price
    margin-bottom: 20px
    order: 3
    width: calc(100% - 115px)

    @media(min-width: 768px)
      margin-bottom: 0
      order: 2
      padding-left: 16px
      width: 17.04545%

  &__cost
    order: 4

    @media(min-width: 768px)
      padding-left: 16px
